<h1>Editing reservationtable</h1>

<%= render "form", reservationtable: @reservationtable %>

<br>

<div>
  <%= link_to "Show this reservationtable", @reservationtable %> |
  <%= link_to "Back to reservationtables", reservationtables_path %>
</div>
